/*Modo editar*/

/*TOC*/

#indice .units ul li {
    border-radius: 0px;
    height: 50px;
    padding-top: 3px;
    background: #d43923;
    background: -moz-linear-gradient(0% 50% 0deg, #e2764e 0%, #d43923 99.84%);
    background: -webkit-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #e2764e), color-stop(0.9984, #d43923));
    background: -o-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
    background: -ms-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
    background: linear-gradient(90deg, #e2764e 0%, #d43923 99.84%);
}

#indice .units ul li a .title {
    color: #fff;
    font-size: 25px;
    line-height: 1em;
    font-weight: 300;
}

#indice .units ul li.active:not(.disabled), body:not(.isTablet) #indice .units ul li:hover:not(.disabled), #indice .units ul li:focus:not(.disabled) {
    background: #21383B;
}

#indice .unit-content {
    border-radius: 0px;
}

#indice .unit-content .header .title {
    font-size: 55px;
    line-height: 1em;
    font-weight: 300;
}

#indice .unit-content .actividades .item .title {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 300;
    background: #fff;
    color: #223c3f;
}

#indice .unit-content .actividades .item {
    padding: 15px 12px;
    background: #fff;
    margin-top: 3px;
}

#indice .unit-content {
    background-color: #243C3F;
}
